body {
    display: grid;
    grid-template-columns: auto 400px auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
}

#title{
    grid-area: 1/1/2/4;
    height: 50px;
}


#display:empty:before {content: '\a0';}

#display {
    display: grid;
    grid-area: 2/2/3/3;
}

#buttons {
    grid-area: 3/2/4/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
}

#right{
    grid-area: 1/2/3/3;
    display: grid;
    justify-items: center;
    align-items: center;
}

#left{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}