body {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: stretch;
    align-items: stretch;
}

#title{
    grid-area: 1/1/2/4;
    height: 50px;
    justify-self: center;
}

#calc{
    grid-area: 2/2/4/3;
    display: grid;
    grid-template-areas: auto auto;
    grid-template-rows: auto auto;
    border: solid;
    border-radius: 5px;
}

#display:empty:before {content: '\a0';}

#display {
    grid-area: 1/1/3/3;
    border: solid 1px red;
    cursor: text;
}

#buttons {
    grid-area: 3/1/4/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: stretch;
    color: white;
    cursor: pointer;
}

#right{
    grid-area: 1/2/3/3;
    display: grid;
    justify-items: center;
    align-items: center;
    background: lightgray;
}

#left{
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: stretch;
    justify-items: center;
    background: grey;
}