body {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-items: center;
    align-items: center;
    
}

#display:empty:before {content: '\a0';}

#display {
    display: grid;
    grid-area: 1/1/2/3;
}

#buttons {
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: center;
    align-items: center;
}

#right{
    grid-area: 1/2/3/3;
    display: grid;
    justify-items: center;
    align-items: center;
}

#left{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}